flows (1).json
[
    {
        "id": "a10dbe8bb2c3f71f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b9f1569caf251d4",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Temperature_C",
        "topic": "ESP32Weather/temperature/celcius",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "65138e05b9e03f00"
            ]
        ]
    },
    {
        "id": "dd11151cde4ba7e1",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Temperature_F",
        "topic": "ESP32Weather/temperature/fahrenheit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "e14959e98d82e011"
            ]
        ]
    },
    {
        "id": "9dc775ea1f195366",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Pressure",
        "topic": "ESP32Weather/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 360,
        "wires": [
            [
                "db38de122918d73a"
            ]
        ]
    },
    {
        "id": "bba565f5f5d5f6ea",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Altitude",
        "topic": "ESP32Weather/altitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "6a95acd86934f7ad"
            ]
        ]
    },
    {
        "id": "7a82843c13c5a880",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "WindSpeed",
        "topic": "ESP32Weather/wind",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "c595836a6c6dd94c",
                "389c7c9ae5991242",
                "ba41bb546a153d93"
            ]
        ]
    },
    {
        "id": "020e6353dcc01a5e",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Humidity",
        "topic": "ESP32Weather/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "4687f42b4b81e406"
            ]
        ]
    },
    {
        "id": "b1012872de1867c9",
        "type": "debug",
        "z": "a10dbe8bb2c3f71f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "52fdbcec7fff54d2",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Rain",
        "topic": "ESP32Weather/rain",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "584d77d9ef202fa7"
            ]
        ]
    },
    {
        "id": "15441c4256a0d1ab",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "topic": "ESP32Weather/weather_sensors",
        "qos": "2",
        "datatype": "json",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "123686c2d9423993",
                "4439ec661ff3bf39"
            ]
        ]
    },
    {
        "id": "123686c2d9423993",
        "type": "change",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"temperature\": msg.payload.t,\t    \"pressure\": msg.payload.p,\t    \"humidity\": msg.payload.h,\t    \"altitude\": msg.payload.a,\t    \"wind\": msg.payload.w,\t    \"rain\": msg.payload.r\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 740,
        "wires": [
            [
                "b1012872de1867c9",
                "86dbdaa359c82b9d",
                "838bf7a3b2bae74a"
            ]
        ]
    },
    {
        "id": "838bf7a3b2bae74a",
        "type": "trigger",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "op1": "",
        "op2": "{\"type\":\"message\",\"chatId\":\"193175889\",\"content\":\"Sensor timed out\"}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 770,
        "y": 800,
        "wires": [
            [
                "b36ec363cfcdb543"
            ]
        ]
    },
    {
        "id": "518ef2a5a71563c5",
        "type": "function",
        "z": "a10dbe8bb2c3f71f",
        "name": "function 1",
        "func": "var opts = {\n    reply_markup: JSON.stringify({\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Temperature\",\n                \"callback_data\": \"1\"\n            },\n            {\n                \"text\": \"Humidity\",\n                \"callback_data\": \"2\"\n            },\n            {\n                \"text\": \"Pressure\",\n                \"callback_data\": \"3\"\n            },\n            {\n                \"text\": \"Altitude\",\n                \"callback_data\": \"4\"\n            },\n            {\n                \"text\": \"Wind\",\n                \"callback_data\": \"5\"\n            }, {\n                \"text\": \"Rain\",\n                \"callback_data\": \"6\"\n            }]\n        ]\n    })\n};\n\nmsg.error = false;\n\nmsg.payload.content = 'Selection?';\nmsg.payload.options = opts;\nmsg.payload.chatId = \"193175889\";\nmsg.payload.type = \"message\";\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1000,
        "wires": [
            [
                "e180e1023dc07172"
            ]
        ]
    },
    {
        "id": "6820681dac9ca0a6",
        "type": "function",
        "z": "a10dbe8bb2c3f71f",
        "name": "function 2",
        "func": "msg.callback = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "d1911b55b44db796"
            ]
        ]
    },
    {
        "id": "4fd4de8b55881da9",
        "type": "function",
        "z": "a10dbe8bb2c3f71f",
        "name": "function 3",
        "func": "if (msg.callback.content == 1) {\n    msg.payload.content = msg.payload.results[0].series[0].values[0][5] + \" °C\";\n}\nif (msg.callback.content == 2) {\n    msg.payload.content = msg.payload.results[0].series[0].values[0][2] + \"%\";\n}\nif (msg.callback.content == 3) {\n    msg.payload.content = msg.payload.results[0].series[0].values[0][3] + \"kPa\";\n}\nif (msg.callback.content == 4) {\n    msg.payload.content = msg.payload.results[0].series[0].values[0][1] + \"m/sec2\";\n}\nif (msg.callback.content == 5) {\n    msg.payload.content = msg.payload.results[0].series[0].values[0][6] + \"m/s\";\n}\nif (msg.callback.content == 6) {\n    msg.payload.content = msg.payload.results[0].series[0].values[0][4];\n}\nif (msg.callback.content == 4) {\n    msg.payload.content = msg.payload.results[0].series[0].values[0][1];\n}\n\n\nmsg.payload.type = \"message\";\nmsg.payload.chatId = \"193175889\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1120,
        "wires": [
            [
                "a18237c9fda6db01"
            ]
        ]
    },
    {
        "id": "43fff62064e2b448",
        "type": "debug",
        "z": "a10dbe8bb2c3f71f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ba41bb546a153d93",
        "type": "function",
        "z": "a10dbe8bb2c3f71f",
        "name": "Alert logic",
        "func": "var wind_speed = msg.payload;\nvar alert_flag = context.get(\"alert_flag\");\nif (typeof alert_flag == \"undefined\")\n    alert_flag = false;\nif (wind_speed > 12.00 && !alert_flag) {\n    alert_flag = true;\n    msg.alert = 1;\n    context.set(\"alert_flag\", alert_flag);\n    return msg;\n}\nif (wind_speed <= 12.00 && alert_flag) {\n    alert_flag = false;\n    msg.alert = 0;\n    context.set(\"alert_flag\", alert_flag);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 480,
        "wires": [
            [
                "13bd62bbe0fc7797"
            ]
        ]
    },
    {
        "id": "13bd62bbe0fc7797",
        "type": "function",
        "z": "a10dbe8bb2c3f71f",
        "name": "function 5",
        "func": "var temp = msg.payload;\nmsg.to = \"funstudy10@gmail.com\";\nvar d = new Date();\nvar message = \"\";\nif (msg.alarm) {\n    msg.topic = \"High Wind Alert!\";\n    message = \" \";\n}\nelse {\n    message = \" Wind speed is back to normal now. The current wind speed is \" + temp; \n    msg.topic = \"Wind Alarm Reset.\";\n}\nmsg.payload = \"time:\" + d + message + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 480,
        "wires": [
            [
                "247ad8876972394d"
            ]
        ]
    },
    {
        "id": "4439ec661ff3bf39",
        "type": "function",
        "z": "a10dbe8bb2c3f71f",
        "name": "function 6",
        "func": "let x = msg.payload;\n\nlet tag1 = { payload: x.t };\nlet tag2 = { payload: x.p };\nlet tag3 = { payload: x.h };\nlet tag4 = { payload: x.a };\nlet tag5 = { payload: x.w };\nlet tag6 = { payload: x.r };\n\nreturn [tag1, tag2, tag3, tag4, tag5, tag6];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [
                "2903d49ac22958fa"
            ]
        ]
    },
    {
        "id": "2903d49ac22958fa",
        "type": "function",
        "z": "a10dbe8bb2c3f71f",
        "name": "function 7",
        "func": "let r = msg.payload;\n\nif (r === 0) {\n    msg.payload = 'rain'\n} else {\n    msg.payload = 'not raining'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 880,
        "wires": [
            [
                "ad48dce8160d57dd"
            ]
        ]
    },
    {
        "id": "ad48dce8160d57dd",
        "type": "debug",
        "z": "a10dbe8bb2c3f71f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 880,
        "wires": []
    },
    {
        "id": "4687f42b4b81e406",
        "type": "ui_gauge",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "9a0e0b4e3377d54d",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "6a95acd86934f7ad",
        "type": "ui_gauge",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "9a0e0b4e3377d54d",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Atitude",
        "label": "meters",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "65138e05b9e03f00",
        "type": "ui_gauge",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "a30964689d06a627",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature (in C)",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "e14959e98d82e011",
        "type": "ui_gauge",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "a30964689d06a627",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature (in F)",
        "label": "F",
        "format": "{{value}}",
        "min": 0,
        "max": "122",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "db38de122918d73a",
        "type": "ui_text",
        "z": "a10dbe8bb2c3f71f",
        "group": "9a0e0b4e3377d54d",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Pressure",
        "format": "{{msg.payload}} Pa",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "389c7c9ae5991242",
        "type": "ui_text",
        "z": "a10dbe8bb2c3f71f",
        "group": "9a0e0b4e3377d54d",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Wind Speed",
        "format": "{{msg.payload}} m/s",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "584d77d9ef202fa7",
        "type": "ui_text",
        "z": "a10dbe8bb2c3f71f",
        "group": "9a0e0b4e3377d54d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rain",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "c595836a6c6dd94c",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "9bd9e1ba355eb927",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Wind",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2177b5",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d72828",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "86dbdaa359c82b9d",
        "type": "influxdb out",
        "z": "a10dbe8bb2c3f71f",
        "influxdb": "f73d4a74b08d48e4",
        "name": "",
        "measurement": "sensor_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 880,
        "y": 740,
        "wires": []
    },
    {
        "id": "d1911b55b44db796",
        "type": "influxdb in",
        "z": "a10dbe8bb2c3f71f",
        "influxdb": "f73d4a74b08d48e4",
        "name": "",
        "query": "select * from sensor_data group by * order by time desc limit 1",
        "rawOutput": true,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 630,
        "y": 1120,
        "wires": [
            [
                "4fd4de8b55881da9",
                "43fff62064e2b448"
            ]
        ]
    },
    {
        "id": "247ad8876972394d",
        "type": "e-mail",
        "z": "a10dbe8bb2c3f71f",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "",
        "secure": true,
        "tls": true,
        "name": "funstudy10@gmail.com",
        "dname": "Email Alert",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "750b71fbf8cf4d46",
        "type": "telegram command",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "command": "/data",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "acd516fee320eb0b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "518ef2a5a71563c5"
            ],
            []
        ]
    },
    {
        "id": "d5726986ae4bbe23",
        "type": "telegram event",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "bot": "acd516fee320eb0b",
        "event": "callback_query",
        "autoanswer": false,
        "x": 180,
        "y": 1120,
        "wires": [
            [
                "6820681dac9ca0a6"
            ]
        ]
    },
    {
        "id": "b36ec363cfcdb543",
        "type": "telegram sender",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "bot": "acd516fee320eb0b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 970,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e180e1023dc07172",
        "type": "telegram sender",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "bot": "acd516fee320eb0b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 520,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "a18237c9fda6db01",
        "type": "telegram sender",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "bot": "acd516fee320eb0b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1070,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "bdcf3972672117a3",
        "type": "comment",
        "z": "a10dbe8bb2c3f71f",
        "name": "Weather Dashboard",
        "info": "",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "98ba3db285a8d688",
        "type": "comment",
        "z": "a10dbe8bb2c3f71f",
        "name": "Soil Dashboard",
        "info": "",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "088fbd8d5f5f7fba",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Humidity",
        "topic": "ESP32Weather/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "8d5561755fded22f",
                "4880b7bc39fb15b9"
            ]
        ]
    },
    {
        "id": "8d5561755fded22f",
        "type": "ui_gauge",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "352aa6064683df41",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "e6bf7715ed8e9831",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Light",
        "topic": "ESP32Weather/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 360,
        "wires": [
            [
                "787f49c4d2d05d2a"
            ]
        ]
    },
    {
        "id": "d79a676565e13cd7",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "topic": "Temperature_C",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "cd3168a082fd9709",
                "75ee37290a74d210"
            ]
        ]
    },
    {
        "id": "cd3168a082fd9709",
        "type": "ui_gauge",
        "z": "a10dbe8bb2c3f71f",
        "name": "Temperature",
        "group": "352aa6064683df41",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "1fc850a331df39b2",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "topic": "Temperature_C",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 180,
        "wires": [
            [
                "6f098d83b09795bf",
                "3615cee4bf583db3"
            ]
        ]
    },
    {
        "id": "6f098d83b09795bf",
        "type": "ui_gauge",
        "z": "a10dbe8bb2c3f71f",
        "name": "Temperature",
        "group": "f7abd1b39e1d4eb0",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f27ad7baf018cfd",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "topic": "Moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1140,
        "y": 260,
        "wires": [
            [
                "6cfd16124f92a03b",
                "eb0b4faca747694c"
            ]
        ]
    },
    {
        "id": "6cfd16124f92a03b",
        "type": "ui_gauge",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "f7abd1b39e1d4eb0",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 260,
        "wires": []
    },
    {
        "id": "28aef94939da59db",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Ph",
        "topic": "ESP32Weather/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 360,
        "wires": [
            [
                "dca1c6e2beccd7d0",
                "610aeebac52d4660"
            ]
        ]
    },
    {
        "id": "dca1c6e2beccd7d0",
        "type": "ui_text",
        "z": "a10dbe8bb2c3f71f",
        "group": "f7abd1b39e1d4eb0",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Ph",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1330,
        "y": 360,
        "wires": []
    },
    {
        "id": "dc43585ed8fd6da8",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Pressure",
        "topic": "ESP32Weather/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1140,
        "y": 460,
        "wires": [
            [
                "99da44d830cb38c3",
                "547a78df027a37ed"
            ]
        ]
    },
    {
        "id": "99da44d830cb38c3",
        "type": "ui_text",
        "z": "a10dbe8bb2c3f71f",
        "group": "f7abd1b39e1d4eb0",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "EC",
        "format": "{{msg.payload}} uS/cm",
        "layout": "row-spread",
        "className": "",
        "x": 1330,
        "y": 460,
        "wires": []
    },
    {
        "id": "3615cee4bf583db3",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "53ca7c7ee9429335",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "eb0b4faca747694c",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "53ca7c7ee9429335",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Moisture",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3321bba11ae00f48",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Nitrogen (N)",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1150,
        "y": 560,
        "wires": [
            [
                "27121a1a914fcdd0",
                "ca08a84b958b763a"
            ]
        ]
    },
    {
        "id": "fba4ce1436f484fd",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Phosphorus (P)",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 640,
        "wires": [
            [
                "a7c5719a18b5ebd0",
                "5da546e1c523df98"
            ]
        ]
    },
    {
        "id": "fb8281e7a4e35745",
        "type": "mqtt in",
        "z": "a10dbe8bb2c3f71f",
        "name": "Potassium (K)",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d8803cbe9a53e9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1150,
        "y": 720,
        "wires": [
            [
                "0a1c73ae323be360",
                "20b8db14a534b06a"
            ]
        ]
    },
    {
        "id": "27121a1a914fcdd0",
        "type": "ui_text",
        "z": "a10dbe8bb2c3f71f",
        "group": "f7abd1b39e1d4eb0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nitrogen (N)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 560,
        "wires": []
    },
    {
        "id": "ca08a84b958b763a",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "53ca7c7ee9429335",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Nitrogen (N)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "547a78df027a37ed",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "53ca7c7ee9429335",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "EC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "610aeebac52d4660",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "53ca7c7ee9429335",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Ph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a7c5719a18b5ebd0",
        "type": "ui_text",
        "z": "a10dbe8bb2c3f71f",
        "group": "f7abd1b39e1d4eb0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phosphorus (P)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1360,
        "y": 640,
        "wires": []
    },
    {
        "id": "5da546e1c523df98",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "53ca7c7ee9429335",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Phosphorus (P)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "0a1c73ae323be360",
        "type": "ui_text",
        "z": "a10dbe8bb2c3f71f",
        "group": "f7abd1b39e1d4eb0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Potassium (K)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1360,
        "y": 720,
        "wires": []
    },
    {
        "id": "20b8db14a534b06a",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "53ca7c7ee9429335",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Potassium (K)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "75ee37290a74d210",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "d0c919956a6745b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4880b7bc39fb15b9",
        "type": "ui_chart",
        "z": "a10dbe8bb2c3f71f",
        "name": "",
        "group": "d0c919956a6745b6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "787f49c4d2d05d2a",
        "type": "ui_text",
        "z": "a10dbe8bb2c3f71f",
        "group": "352aa6064683df41",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Light Intensity",
        "format": "{{msg.payload}} lx",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 360,
        "wires": []
    },
    {
        "id": "2e2e0684c971bbbf",
        "type": "ui_spacer",
        "z": "a10dbe8bb2c3f71f",
        "name": "spacer",
        "group": "a9a68208d229d79f",
        "order": 1,
        "width": "5",
        "height": "2"
    },
    {
        "id": "1d8803cbe9a53e9d",
        "type": "mqtt-broker",
        "name": "Raspberry Pi MQTT Broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9a0e0b4e3377d54d",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "b6f04236f392db12",
        "order": 2,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a30964689d06a627",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b6f04236f392db12",
        "order": 1,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9bd9e1ba355eb927",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "b6f04236f392db12",
        "order": 5,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f73d4a74b08d48e4",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "sensor_data",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "acd516fee320eb0b",
        "type": "telegram bot",
        "botname": "denooo_bot",
        "usernames": "deen96",
        "chatids": "193175889",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "352aa6064683df41",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "36e19a9655500666",
        "order": 1,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7abd1b39e1d4eb0",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "36e19a9655500666",
        "order": 3,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "53ca7c7ee9429335",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "36e19a9655500666",
        "order": 4,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0c919956a6745b6",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "36e19a9655500666",
        "order": 2,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6f04236f392db12",
        "type": "ui_tab",
        "name": "Weather Station",
        "icon": "wi-wu-sunny",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "36e19a9655500666",
        "type": "ui_tab",
        "name": "Soil ",
        "icon": "fa-solid fa-leaf",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]